/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/06/2020, 20:01:23
    Author     : Jeferson Leon
*/
body{
    background-color: green;
}
.container{
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: 50px auto;
}
